/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* END OF CSS RESET  */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #000;
	text-align: center;
}

#content {
	width:1048px;
	margin: 0px auto;
	padding:10px;
	background: #fff;
}

#header {
	height: 100px;
	background: url(img/header_bg.jpg) top center;
	position:relative;
}

#header #logo {
	font-size:30px;
	color:#fff;
	float:left;
	padding: 10px 0 0 20px;
}

#header #status {
	background: #515151;
	height: 20px;
	position:relative;
	right:40px;
	float:right;
	color:#fff;
	font-size:16px;
	padding:3px 20px 3px 20px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#header #topmenu {
	position:absolute;
	bottom:0px;
}

#header #topmenu ul{
	list-style-type: none;
	height: 30px;
	margin-left: 10px;
}

#header #topmenu li{
	float:left;
	margin: 0px 10px 0px 10px;
	background: url(img/section_header.jpg);
	line-height:35px;
	width:100px;
}

#header #topmenu li a{
	color:#515151;
	text-decoration: none;
}

#center{
	background: url(img/body_bg.jpg) repeat-x;
	padding:10px;
	min-height: 300px;
	text-align:left;
}

#center #trace{
	font-size:11px;
}

#footer{
	font-size:11px;
}

/* Common elements 
 * Dont edit below this line
 */

h2{
	padding:20px;
}
 
table{
	width:100%;
}

tr.title{
	background: url(img/section_header.jpg);
	height:35px;
	font-size:15px;
	padding-top:20px;
}

tr{
	text-indent:20px;
}

tr:nth-child(odd){ 
	background-color:#eee; 
}

tr:nth-child(even){
	background-color:#fff;
}

td{
	line-height:35px;
}

.line{
	width:100%;
	height:1px;
	background:#A2ADB1;
	margin:5px 0px 5px 0px;
}

.clear{
	clear:both;
}

.roundtop{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
/* CUSTOM CSS */
#map {
	width:30%;
	height:30%;
	float:right;
}
#wikiPages {
	display:inline;
	list-style:none;
}
#wikiPages a:link {
	text-decoration:none;
}
body{
	padding:0;
	margin:0;
	background-color:#E1E1E1;
}
#box {
	display:none;
	float:right;
	margin-left:10px;
	margin-bottom:10px;
	max-width:30%;
	padding-left:5px;
	padding-bottom:5px;
	display:inline-block;
	border-left:inset 1px;
	border-bottom:inset 1px;
}
#box img {
	max-width:100%;
}
.clear {
	clear:both;
}
#tweets {
	list-style:none;
	font-style:italic;
	float:left;
	max-width:60%;
}
#wrapper {
	padding:10px;
	margin:80px;
	border:inset 1px;
}
#locations {
	display:none;
}
